@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Paprika&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #d9d9d9;
  margin: 0px 10px; }

.btn {
  font-family: Arial;
  font-size: 1rem;
  text-align: center;
  color: #400414;
  background-color: #D9BC9A;
  width: 8rem;
  padding: .5rem;
  text-transform: uppercase;
  border-color: #8C3048;
  border-radius: .3125rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.288);
  margin-top: 1.25rem; }

header {
  margin-bottom: 1rem; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.137); }

ul li {
  display: inline-block;
  padding: 0rem 1.25rem; }

a {
  color: #3f3e3e;
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif; }

.logo {
  width: 5rem;
  border-radius: 100%; }

.footer {
  width: 100%;
  background-color: whitesmoke;
  margin-top: 2.5rem; }

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer-content h4 {
    color: #400414;
    margin: auto;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-bottom: 2rem;
    text-align: center; }
    .footer-content h4:hover {
      color: #8C3048; }
  .footer-content .social-icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0; }
    .footer-content .social-icons ul li a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      margin-right: 10px;
      text-align: center;
      transition: all 300ms ease;
      padding: 0; }
    .footer-content .social-icons a:hover {
      color: #8C3048;
      padding-left: .375rem; }

i {
  font-size: 1.5rem; }

.rights {
  padding: .625rem;
  text-align: center; }
  .rights small {
    font-size: .9375rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: gray; }

hr {
  width: 70%;
  margin: auto; }

.carousel-item {
  height: 500px; }

.carousel-item img {
  height: 100%;
  object-fit: cover; }

.name-co {
  font-family: "Italianno", cursive;
  font-size: 5rem;
  text-align: center;
  color: white;
  font-weight: 200; }

.parrafo-co {
  font-family: "Paprika", system-ui;
  font-size: 1rem;
  text-align: center;
  color: white;
  margin-bottom: 1rem; }

h2 {
  font-family: "Paprika", system-ui;
  font-size: 1.3rem;
  text-align: center;
  color: #400414;
  font-weight: 800;
  padding: 3rem; }

.card-container-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.card-content-index {
  padding: 1rem;
  text-align: center; }
  .card-content-index h3 {
    font-family: "Paprika", system-ui;
    font-size: 1rem;
    text-align: center;
    color: #400414;
    margin-bottom: .5rem; }

.content-section, .content-section-beige {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 2.5rem;
  background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fffeff, #fffeff, #fffdfe, #fffcfc, #fffcfa, #fffcf8); }

.content-section-beige {
  background-image: linear-gradient(to right top, #d9bc9a, #d0b391, #c8aa88, #bfa27f, #b79976); }

.text-content {
  padding: 20px;
  text-align: center; }
  .text-content p {
    font-family: "Paprika", system-ui;
    font-size: 1.375rem;
    color: #400414;
    padding: .625rem; }

.image-content {
  text-align: center; }

.image-content img {
  width: 90%;
  max-width: 100%;
  height: auto;
  transition: transform 0.8s ease; }
  .image-content img:hover {
    transform: scale(1.1); }

.container-beige {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #d9bc9a, #d0b391, #c8aa88, #bfa27f, #b79976);
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 2rem;
  text-align: center; }

.img-fondo-1 {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/img/fondos/img-fondo-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.container {
  width: 90%;
  height: 100%;
  max-width: 75rem;
  min-width: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .container .info-black h1 {
    font-family: "Paprika", system-ui;
    font-size: 1rem;
    text-align: center;
    color: black;
    font-style: normal; }
  .container .info-black p {
    font-family: "Paprika", system-ui;
    font-size: 1rem;
    text-align: center;
    color: black;
    margin-bottom: 1rem; }

.container .info-black h1 {
  font-family: "Paprika", system-ui;
  font-size: 2rem;
  text-align: center;
  color: black;
  font-style: normal; }

.section {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center; }

.section-beige, .section-white {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right top, #d9bc9a, #d0b391, #c8aa88, #bfa27f, #b79976);
  margin-top: 3rem;
  place-items: center;
  font-family: "Paprika", system-ui;
  display: grid;
  padding: 2.5rem; }

.article-container {
  width: 100%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 2rem auto;
  align-items: center;
  justify-content: center; }
  .article-container .img-left {
    overflow: hidden;
    transition: 4s; }
    .article-container .img-left:hover {
      transform: scale(1.1);
      transition: 4s; }
    .article-container .img-left img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s; }

.container-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.875rem; }
  .container-text .text h2 {
    font-size: 1.5rem;
    color: #400414;
    padding: 0rem 0rem 1rem 0rem; }
  .container-text .text p {
    font-size: 1rem;
    line-height: 1.5625rem; }

.section-white {
  background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fffeff, #fffeff, #fffdfe, #fffcfc, #fffcfa, #fffcf8); }

.img-fondo-2 {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/img/fondos/img-fondo-8.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.img-fondo-3 {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/img/fondos/img-fondo-spa-22.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px; }

.card {
  width: 20.3125rem;
  background-color: #D9BC9A;
  border: .5rem;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 20px; }
  .card img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    max-width: 100%; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

.card-content {
  padding: 1rem; }
  .card-content h3 {
    font-family: "Paprika", system-ui;
    font-size: 1rem;
    text-align: start;
    color: #400414;
    margin-bottom: .5rem; }
  .card-content p {
    font-size: 1rem;
    line-height: 1.4; }

.img-fondo-4 {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/img/fondos/img-fondo-4.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.container-contact {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2rem auto; }

.contact {
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: .685rem .625rem 2rem 2rem;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px 0px #666;
  background-color: #ffffff; }

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%; }
  .contact-map iframe {
    width: 100%;
    height: 100%;
    margin-top: .625rem; }

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: center;
  padding: 1.875rem; }

.contact-form-txt {
  width: 100%;
  height: 2.5rem;
  color: #000000b6;
  border: .0625rem solid #bcbcbcd3;
  outline: none;
  margin-bottom: 1.25rem;
  padding: .9375rem;
  border-radius: .625rem; }
  .contact-form-txt::placeholder {
    color: #aaaaaa; }

.contact-form-textarea {
  width: 100%;
  height: 8.125rem;
  color: #000;
  border: .0625rem solid #bcbcbc;
  outline: none;
  margin-bottom: 1.25rem;
  padding: .9375rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: .625rem; }
  .contact-form-textarea::placeholder {
    color: #aaaaaa; }

.contact-suscrib {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1.875rem;
  background-image: linear-gradient(to right top, #d9bc9a, #d0b391, #c8aa88, #bfa27f, #b79976);
  margin: auto;
  box-shadow: 0px 0px 10px 0px #666;
  border-radius: .625rem; }
  .contact-suscrib span {
    font-family: "Paprika", system-ui;
    font-size: 2rem;
    text-align: center;
    color: #400414;
    font-weight: bolder;
    font-weight: bold;
    background-image: linear-gradient(to right, #2e0610, #4c1c1c, #683525, #82512e, #977039, #996d3e, #9b6b43, #9c6948, #7d4b47, #53343f, #2a212a, #090909);
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s ease-in-out infinite; }

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .contact-suscrib p {
    font-family: Arial;
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.788); }

@media (max-width: 321px) {
  .carousel-item {
    height: 400px; } }

@media (max-width: 321px) {
  .name-co {
    font-family: "Italianno", cursive;
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 200; }
  .parrafo-co {
    font-family: "Paprika", system-ui;
    font-size: 0.5rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem; } }

@media (max-width: 426px) {
  .container-text .text h2 {
    font-size: 1.1rem;
    padding: 0rem 1rem 1rem 1rem; }
  .container-text .text p {
    font-size: 0.8rem; } }

@media (max-width: 426px) {
  .article-container {
    width: 100%;
    padding: 1rem 0rem; } }

@media (max-width: 426px) {
  .article-container .img-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s; } }

@media (max-width: 426px) {
  .section-beige, .section-white {
    padding: 1rem 0rem 1rem 0rem; } }

@media (max-width: 426px) {
  .section-white {
    padding: 1rem 0rem 1rem 0rem; } }

@media (max-width: 426px) {
  .container-text {
    padding: 0; }
  .text {
    text-align: start;
    padding: 0; }
    .text h2 {
      font-size: .5rem; } }

@media (max-width: 426px) {
  .contact {
    padding: .5rem .5rem 1rem 0.5rem; } }

@media (max-width: 426px) {
  .contact-form-txt {
    padding: .9rem;
    margin-bottom: 0rem; } }

@media (max-width: 426px) {
  .contact-suscrib {
    margin-top: 2.5rem; } }

@media (max-width: 473px) {
  .contact-form {
    margin-top: 1rem; }
  .container-contact {
    margin-bottom: 0px; } }

@media (max-width: 1060px) {
  .footer .footer-container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.875rem;
    padding: 35px 0px; } }

@media (max-width: 625px) {
  .footer .footer-container {
    width: 90%;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

@media (max-width: 991px) {
  .article-container {
    grid-template-columns: 1fr;
    width: 80%; }
  .container-text .text p {
    font: 1rem;
    line-height: 1.25rem; } }

@media (max-width: 768px) {
  .content-section, .content-section-beige {
    grid-template-columns: 1fr; } }

@media (max-width: 768px) {
  .content-section-beige {
    grid-template-columns: 1fr; } }

@media (max-width: 768px) {
  .text-content p {
    padding: 0rem;
    font-size: 1rem; } }
