@mixin flex ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin img-fondo ($url, $height) {
    width: 100%; 
    height: $height;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@mixin img ($width, $height, $objetc) {
    width: $width;
    height: $height;
    object-fit: $objetc;
}

@mixin font ($family, $size, $align, $color) {
    font-family: $family;
    font-size: $size;
    text-align: $align;
    color: $color;
}