$bg-body: #d9d9d9;
$txt-italiano: "Italianno", cursive;
$txt-paprika: "Paprika", system-ui;
$box-beige: #D9BC9A;
$box-white: #ffffff; 
$gradient-white: linear-gradient(to left top, #f9f9f9, #f7f4f7, #f6f0f2, #f6ebeb, #f4e7e2, #ecdfd7, #e4d7cc, #dad0c1, #cdc1b1, #c0b3a2, #b3a593, #a69784);
$gradient-beige: linear-gradient(to right top, #d9bc9a, #d0b391, #c8aa88, #bfa27f, #b79976);
$gradiente-white2: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fffeff, #fffeff, #fffdfe, #fffcfc, #fffcfa, #fffcf8);