.btn {
    @include font (Arial, 1rem, center, map-get($txt-color, wine));
    background-color: $box-beige;
    width: 8rem;
    padding: .5rem;
    text-transform: uppercase;
    border-color: map-get($txt-color, pink);
    border-radius: .3125rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.288);
    margin-top: 1.25rem;
}