.img-fondo-4 {
    @include img-fondo (("../assets/img/fondos/img-fondo-4.jpeg"), 50vh);
}

.container-contact {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2rem auto;
}

.contact {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: .685rem .625rem 2rem 2rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px #666;
    background-color: $box-white;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;

    iframe {
        width: 100%;
        height: 100%;
        margin-top: .625rem;
    }
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 1.875rem;
}

.contact-form-txt {
    width: 100%;
    height: 2.5rem;
    color: #000000b6;
    border: .0625rem solid #bcbcbcd3;
    outline: none;
    margin-bottom: 1.25rem;
    padding: .9375rem;
    border-radius: .625rem;

    &::placeholder {
        color: #aaaaaa;
    }
}

.contact-form-textarea {
    width: 100%;
    height: 8.125rem;
    color: #000;
    border: .0625rem solid #bcbcbc;
    outline: none;
    margin-bottom: 1.25rem;
    padding: .9375rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: .625rem;


    &::placeholder {
        color: #aaaaaa;
    }
}

.contact-suscrib {
    width: 95%;
    height: auto;
    @include flex (center, center);
    flex-direction: column;
    text-align: center;
    padding: 1.875rem;
    background-image: $gradient-beige;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #666;
    border-radius: .625rem;


    span {
        @include font ($txt-paprika, 2rem, center, map-get($txt-color, wine));
        font-weight: bolder;
        font-weight: bold;
        background-image: linear-gradient(to right, #2e0610, #4c1c1c, #683525, #82512e, #977039, #996d3e, #9b6b43, #9c6948, #7d4b47, #53343f, #2a212a, #090909);
        background-size: 300%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient-animation 5s ease-in-out infinite;
        

        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    }

    p {
        @include font (Arial, 1.5rem, center, rgba(0, 0, 0, 0.788));
    }
}