.name-co {
    @include font ($txt-italiano, 5rem, center, white);
    font-weight: 200;
}

.parrafo-co {
    @include font ($txt-paprika, 1rem, center, white);
    margin-bottom: 1rem;
}

h2 {
    @include font ($txt-paprika, 1.5rem, center, map-get($txt-color, wine));
    font-weight: 800;
    padding: 3rem;
    text-align: center;
}

.card-container-index {
    @include flex (center, center);
    flex-wrap: wrap;
}

.card-content-index {
    padding: 1rem;
    text-align: center;

    h3 {
        @include font ($txt-paprika, 1rem, center, map-get($txt-color, wine));
        margin-bottom: .5rem;
    }
}

.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 2.5rem;
    background-image: $gradiente-white2;
}

.content-section-beige {
    @extend .content-section;
    background-image: $gradient-beige;
}

.text-content {
    padding: 20px;
    text-align: center;

    p {
        font-family: "Paprika", system-ui;
        font-size: 1.375rem;
        color: map-get($txt-color, wine);
        padding: .625rem;
    }
}

.image-content {
    text-align: center;
}

.image-content {
    img {
        width: 90%;
        max-width: 100%;
        height: auto;
        transition: transform 0.8s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.container-beige {
    @include flex (center, center);
    background-image: $gradient-beige;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 2rem;
    text-align: center;
}