@media (max-width: 991px) {
    .article-container {
        grid-template-columns: 1fr;
        padding: 1rem auto;
    }
}

@media (max-width: 991px) {
    .article-container {
        width: 80%;
    }

    .container-text .text p {
        font: 1rem;
        line-height: 1.25rem;
    }
}

@media (max-width: 425px) {
    .article-container {
        width: 100%;
        padding: 0rem;
    }
}

@media (max-width: 425px) {
    .article-container .img-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
}

@media (max-width: 425px) {
    .section-beige {
        padding: 1rem 0rem 1rem 0rem;
    }
}

@media (max-width: 425px) {
    .section-white {
        padding: 1rem 0rem 1rem 0rem;
    }
}

    
@media (max-width: 800px) {

    .footer .group-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}