@media (max-width: 425px) {
    .article-container {
        width: 100%;
        padding: 0rem;
    }
}

@media (max-width: 425px) {
    .article-container .img-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
}

@media (max-width: 425px) {
    .section-beige {
        padding: 1rem 0rem 1rem 0rem;
    }
}

@media (max-width: 425px) {
    .section-white {
        padding: 1rem 0rem 1rem 0rem;
    }
}

