.img-fondo-3 {
    @include img-fondo (("../assets/img/fondos/img-fondo-spa-22.jpg"), 50vh);
}

.card-container {
    @include flex (center, center);
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width: 20.3125rem;
    background-color: $box-beige;
    border: .5rem;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.164);
    margin: 20px;

    img {
        @include img(400px, 200px, cover);
    }
}
    .card-content {
        padding: 1rem;

        h3 {
            @include font ($txt-paprika, 1.2rem, start, map-get($txt-color, wine) );
            margin-bottom: .5rem;
}

        p {
            font-size: 1rem;
            line-height: 1.4;
        }
    }